h1 {
    text-align: center;
    color: #3498db;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #3498db;
    color: #ffffff;
    text-align: left;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #3498db;
}

input[type='submit'] {
    display: block;
    margin: 20px auto;
    padding: 10px 15px;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

input[type='submit']:hover {
    background-color: #3498db;
}